<div class="page">
    <div class="page__head pl-4">Registrar Cliente</div>
    <div class="page__content d-flex">
        <v-container fluid class="">
            <v-row class="">
                <v-col md="6">
                    <div class="">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                    <div class="mt-2">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                    <div class="mt-2">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                    <div class="mt-2">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                </v-col>
                <v-col md="6">
                    <div class="">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                    <div class="mt-2">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                    <div class="mt-2">
                        <label for="">Nombre</label>
                        <v-text-field
                        outlined
                        hide-details
                        dense>                
                        </v-text-field>
                    </div>
                </v-col>
            </v-row>
        </v-container>
     
        <!-- <v-col md="6"></v-col>
        <v-col md="6"></v-col> -->

    </div>
</div>