.page{
    padding: 15px;
    &__head{
        font-size: 1.3em;
        color: #20252C;
        font-weight: 600;
    }
    &__content{
        // border: 0.5px solid #cdcdcd;
        // border-radius: ;
    }
}
